.header-about-us {
    display: flex;
    align-items: center;
}

.left-site {
    display: flex;
    justify-self: flex-end;
}

.parent-info h1 {
    font-size: 27px;
    color: $blue-light;
    font-weight: 700;
    margin-left: 10px;
}

.parent-info p {
    font-size: 19px;
    color: #5c5c5c;
    font-weight: 600;
}

@include breakpoint(mobile) {
    .parent-info h1 {
        font-size: 19px;
        font-weight: 800;
    }
    .parent-info p {
        font-size: 14px;
        color: #5c5c5c;
        font-weight: 800;
    }
}