button {
    background: #4276BA;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 23px;
    cursor: pointer;
    font-weight: 700;
    &:hover {
        background: #5286ca;
    }
}

@include breakpoint(mobile) {
    button {
        padding: 6px 19px;
    }
}