$blue: #2980B9;
$gray: #EEE;
// =============================================================================
//	Classes
// =============================================================================
.title {
    font-family: 'Pacifico';
    font-weight: norma;
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: $blue;
}

.dropdown {
    a {
        text-decoration: none;
    }
    [data-toggle="dropdown"] {
        position: relative;
        display: block;
        color: white;
        background: $blue;
        padding: 10px;
    }
    .icon-arrow {
        position: absolute;
        display: block;
        font-size: 0.7em;
        color: #fff;
        top: 14px;
        right: 10px;
        &.open {}
        &.close {}
        &:before {
            content: '\25BC';
        }
    }
    .dropdown-menu {
        max-height: 0;
        overflow: hidden;
        li {
            padding: 0;
            a {
                display: block;
                color: darken($gray, 50%);
                background: $gray;
                padding: 10px 10px;
            }
        }
    }
    .show,
    .hide {}
    .show {
        display: block;
        max-height: 9999px;
    }
    .hide {
        max-height: 0;
    }
}